<a href="https://colab.research.google.com/github/MikolajKasprzyk/superstore_sales/blob/main/superstore_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# this cell is optional as file encoding was changed below
# check encoding of file as apparently it is not default
import chardet

# Read the file in binary mode
with open('/content/drive/MyDrive/Colab Notebooks/superstore_sales/'
        'superstore_sales.csv', 'rb') as f:
    # Detect the encoding of the file
    result = chardet.detect(f.read())

# get the encoding from the detection result
encoding = result['encoding']

print(encoding)

utf-8

In [46]:
# reading the data into a dataframe
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/superstore_sales/'
                'superstore_sales.csv')

In [7]:
# first rows of dataframe
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [8]:
# dataframe shape
df.shape

(9994, 21)

In [11]:
# get info about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [15]:
# replace spaces with '_' in column names as it can become problematic
# in further use of dataframe
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub-Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [41]:
df.head(5)

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,Postal_Code,Region,Product_ID,Category,Sub-Category,Product_Name,Sales,Quantity,Discount,Profit
Row_ID,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [17]:
# change 'Postal Code' to string
df['Postal_Code'] = df['Postal_Code'].astype(str)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9994 non-null   int64
 1   Order_ID       9994 non-null   object
 2   Order_Date     9994 non-null   object
 3   Ship_Date      9994 non-null   object
 4   Ship_Mode      9994 non-null   object
 5   Customer_ID    9994 non-null   object
 6   Customer_Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal_Code    9994 non-null   object
 12  Region         9994 non-null   object
 13  Product_ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product_Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(2), object(16)
memory usage: 1.6+ MB

In [9]:
# check for null values in df, and there are non, which is not so common
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [19]:
# check if there are duplicated rows, and there is non
df[df.duplicated()]

Empty DataFrame
Columns: [Row_ID, Order_ID, Order_Date, Ship_Date, Ship_Mode, Customer_ID, Customer_Name, Segment, Country, City, State, Postal_Code, Region, Product_ID, Category, Sub-Category, Product_Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

In [34]:
# check if there are some unresonably high values
df.nlargest(10, 'Sales')[['Sales', 'Quantity', 'Product_Name','Profit', 'Discount']]
# here first row seems odd - that would be something to clarify with client,
# as for now it can stay as it is

,Sales,Quantity,Product_Name,Profit,Discount
2697,22638.480,6,Cisco TelePresence System EX90 Videoconferenci...,-1811.0784,0.5
6826,17499.950,5,Canon imageCLASS 2200 Advanced Copier,8399.9760,0.0
8153,13999.960,4,Canon imageCLASS 2200 Advanced Copier,6719.9808,0.0
2623,11199.968,4,Canon imageCLASS 2200 Advanced Copier,3919.9888,0.2
4190,10499.970,3,Canon imageCLASS 2200 Advanced Copier,5039.9856,0.0
9039,9892.740,13,GBC Ibimaster 500 Manual ProClick Binding System,4946.3700,0.0
4098,9449.950,5,Ibico EPK-21 Electric Binding System,4630.4755,0.0
4277,9099.930,7,"3D Systems Cube Printer, 2nd Generation, Magenta",2365.9818,0.0
8488,8749.950,5,HP Designjet T520 Inkjet Large Format Printer ...,2799.9840,0.0
6425,8399.976,4,Canon imageCLASS 2200 Advanced Copier,1119.9968,0.4

In [35]:
# checking if there are some other odd values
df.nlargest(10, 'Profit')[['Sales', 'Quantity', 'Product_Name','Profit']]

,Sales,Quantity,Product_Name,Profit
6826,17499.950,5,Canon imageCLASS 2200 Advanced Copier,8399.9760
8153,13999.960,4,Canon imageCLASS 2200 Advanced Copier,6719.9808
4190,10499.970,3,Canon imageCLASS 2200 Advanced Copier,5039.9856
9039,9892.740,13,GBC Ibimaster 500 Manual ProClick Binding System,4946.3700
4098,9449.950,5,Ibico EPK-21 Electric Binding System,4630.4755
2623,11199.968,4,Canon imageCLASS 2200 Advanced Copier,3919.9888
509,6354.950,5,Fellowes PB500 Electric Punch Plastic Comb Bin...,3177.4750
8488,8749.950,5,HP Designjet T520 Inkjet Large Format Printer ...,2799.9840
7666,5399.910,9,Hewlett Packard LaserJet 3310 Copier,2591.9568
6520,5443.960,4,GBC DocuBind P400 Electric Binding System,2504.2216

In [37]:
# checking if there are some other odd values
df.nsmallest(10, 'Profit')[['Sales', 'Quantity', 'Product_Name','Profit', 'Discount']]

,Sales,Quantity,Product_Name,Profit,Discount
7772,4499.985,5,Cubify CubeX 3D Printer Double Head Print,-6599.9780,0.7
683,7999.980,4,Cubify CubeX 3D Printer Triple Head Print,-3839.9904,0.5
9774,2177.584,8,GBC DocuBind P400 Electric Binding System,-3701.8928,0.8
3011,2549.985,5,Lexmark MX611dhe Monochrome Laser Printer,-3399.9800,0.7
4991,1889.990,5,Ibico EPK-21 Electric Binding System,-2929.4845,0.8
3151,1799.994,2,Cubify CubeX 3D Printer Double Head Print,-2639.9912,0.7
5310,1525.188,6,Fellowes PB500 Electric Punch Plastic Comb Bin...,-2287.7820,0.8
9639,4297.644,13,Chromcraft Bull-Nose Wood Oval Conference Tabl...,-1862.3124,0.4
1199,1088.792,4,GBC DocuBind P400 Electric Binding System,-1850.9464,0.8
2697,22638.480,6,Cisco TelePresence System EX90 Videoconferenci...,-1811.0784,0.5

In [ ]:
# sort based on column
df.sort_values(by=['Order Date'],inplace=True)

In [ ]:
df['Ship Mode'].value_counts().plot.pie()

In [ ]:
df['Segment'].value_counts()

In [ ]:
df['Segment'].value_counts().plot.pie()

In [ ]:
df['Country'].value_counts()   # all the sales comes from USA

In [ ]:
df['City'].value_counts()

In [ ]:
plt.figure(figsize=(15,10))
df['City'].value_counts().plot.pie()

In [ ]:
# Visualize category columns
plt.figure(figsize=(16,6))
sns.countplot('State' , data=df)
plt.xticks(rotation='vertical')

In [ ]:
# top 10 stats
top_stats = df.groupby(['State']).sum().sort_values('Sales', ascending=False).head(10)
top_stats = top_stats[['Sales']].round(2)
top_stats.reset_index(inplace=True)
top_stats

In [ ]:
# visualize top 10 stats
plt.figure(figsize=(16,6))
plt.bar(top_stats['State'],top_stats['Sales'] ,color="#99ff99" , edgecolor='green')
plt.xticks(rotation='vertical')
plt.title('States With High Revenu ',fontsize=15)
plt.xlabel('State',fontsize=15)
plt.ylabel('Revenu',fontsize=15)

for k , v in top_stats['Sales'].items():
    if v > 200000 :
        plt.text(k,v-100000,"$"+str(v),rotation=90,horizontalalignment='center')
    else:
        plt.text(k,v-50000,"$"+str(v),rotation=90,horizontalalignment='center')

In [ ]:
# draw top 10 cities
top_city = df.groupby(['City']).sum().sort_values('Sales', ascending=False).head(10)
top_city = top_city[['Sales']].round(2)
top_city.reset_index(inplace=True)
top_city

In [ ]:
# visualize top 10 cities
plt.figure(figsize=(16,6))
plt.bar(top_city['City'],top_city['Sales'] ,color="#95dee3" , edgecolor='blue')
plt.xticks(rotation='vertical')
plt.title('States With High Revenu ',fontsize=15)
plt.xlabel('State',fontsize=15)
plt.ylabel('Revenu',fontsize=15)

for k , v in top_city['Sales'].items():
    if v > 100000 :
        plt.text(k,v-100000,"$"+str(v),rotation=90,horizontalalignment='center')
    else:
        plt.text(k,v-10000,"$"+str(v),rotation=90,horizontalalignment='center')

In [ ]:
# top 10 customers
top_customers = df.groupby(['Customer Name']).sum().sort_values('Sales', ascending=False).head(10)
top_customers = top_customers[['Sales']].round(2)
top_customers.reset_index(inplace=True)
top_customers

In [ ]:
# visualize top 10 customers
plt.figure(figsize=(16,6))
plt.bar(top_customers['Customer Name'],top_customers['Sales'] ,color="#95dee3" , edgecolor='blue')
plt.xticks(rotation='vertical')
plt.title('States With High Revenu ',fontsize=15)
plt.xlabel('State',fontsize=15)
plt.ylabel('Revenu',fontsize=15)

for k , v in top_customers['Sales'].items():
    if v > 100000 :
        plt.text(k,v-100000,"$"+str(v),rotation=90,horizontalalignment='center')
    else:
        plt.text(k,v-10000,"$"+str(v),rotation=90,horizontalalignment='center')

In [ ]:
# show categories
df['Category'].value_counts()

In [ ]:
# how much sales in each category
category_sales = df.groupby(['Category']).sum().sort_values('Sales',ascending=False)
category_sales.reset_index(inplace=True)
category_sales

In [ ]:
# Visualize Sales in each category
plt.figure(figsize=(15,10))
def make_autopct(values):
    def my_autopct(pct):
        total = sum(values)
        val = int(round(pct*total/100.0))
        return '{p:.2f}%  (${v:d})'.format(p=pct,v=val)
    return my_autopct


plt.pie(category_sales['Sales'],labels=category_sales['Category'],autopct=make_autopct(category_sales['Sales']))

In [ ]:
# top products
top_products = df.groupby(['Product Name']).sum().sort_values('Sales',ascending=False).head(5)
top_products.reset_index(inplace=True)
top_products

In [ ]:
# sales in each product
plt.figure(figsize=(15,10))
plt.pie(top_products['Sales'],labels=top_products['Product Name'],autopct=make_autopct(top_products['Sales']))

In [ ]:
# create new columns from the order date , split the date into day , month ans year
df['day'] = df['Order Date'].dt.day
df['month'] = df['Order Date'].dt.month
df['year'] = df['Order Date'].dt.year

In [ ]:
# now we have the new 3 columns
df.sample(5)

In [ ]:
# show the orders over years
df['year'].value_counts().plot.pie()

In [ ]:
# show the sales in each year
year_sales = df.groupby(['year']).sum().sort_values('Sales',ascending=False)
year_sales.reset_index(inplace=True)
year_sales

In [ ]:
# visualize sales in each year
plt.bar(year_sales['year'],year_sales['Sales'] ,color="#95dee3" , edgecolor='blue')

In [ ]:
# sales 2016
x = df['year'] == 2015
df2 = df[x]
sales = df2.groupby(['month']).sum().sort_values(['Sales'], ascending=False)
sales.reset_index(inplace=True)
sales

In [ ]:
# show sales in each month year=2016
plt.bar(sales['month'] , sales['Sales'])

In [ ]:
# function to get sales for each month in the 4 years

all_sales = []

years = [2015,2016,2017,2018]
for year in years :
    x = df['year'] == year
    df2 = df[x]
    sales = df2.groupby(['month']).sum() #.sort_values(['Sales'], ascending=False)
    sales.reset_index(inplace=True)
    all_sales.append([year,sales['Sales']])

x = df['year'] == 2015
df2 = df[x]
sales = df2.groupby(['month']).sum().sort_values(['Sales'], ascending=False)
sales.reset_index(inplace=True)
all_sales

In [ ]:
# show sales in each year with months detail
my_sales = df.groupby([('year'),('month')]).sum()
my_sales.reset_index(inplace=True)
my_sales

In [ ]:
# draw the sales as scatter to get the highest sales in each year
plt.figure(figsize=(15,10))
plt.scatter(my_sales['year'],my_sales['Sales'])

In [ ]:
# another way to show it but the scatter is better
plt.bar(my_sales['year'],my_sales['Sales'])

In [ ]:
# get 2015 sales
x = df['year'] == 2015
df2 = df[x]
sales = df2.groupby(['month']).sum()
sales.reset_index(inplace=True)
sales_2015 = [round(x,2) for x in list(sales['Sales'])]
sales_2015

In [ ]:
# get 2016 sales
x = df['year'] == 2016
df2 = df[x]
sales = df2.groupby(['month']).sum()
sales.reset_index(inplace=True)
sales_2016 = [round(x,2) for x in list(sales['Sales'])]
sales_2016

In [ ]:
# get 2017 sales
x = df['year'] == 2017
df2 = df[x]
sales = df2.groupby(['month']).sum()
sales.reset_index(inplace=True)
sales_2017 = [round(x,2) for x in list(sales['Sales'])]
sales_2017

In [ ]:
# get 2018 sales
x = df['year'] == 2018
df2 = df[x]
sales = df2.groupby(['month']).sum()
sales.reset_index(inplace=True)
sales_2018 = [round(x,2) for x in list(sales['Sales'])]
sales_2018

In [ ]:
# draw all the months in all the years in a good way so that we can see the differences between them
import numpy as np


plt.figure(figsize=(15,8))

#day one, the age and speed of 13 cars:
x = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
y = np.array(sales_2015)
plt.scatter(x, y , color = 'red')

#day two, the age and speed of 15 cars:
y = np.array(sales_2016)
plt.scatter(x, y , color = 'blue')



y = np.array(sales_2017)
plt.scatter(x, y , color = 'black')


y = np.array(sales_2018)
plt.scatter(x, y , color = 'green')

plt.show()

In [ ]:
# the same chart but in another way
plt.figure(figsize=(15,8))

#day one, the age and speed of 13 cars:
x = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
y = np.array(sales_2015)
plt.plot(x, y , color = 'red' ,label='2015')


#day two, the age and speed of 15 cars:
y = np.array(sales_2016)
plt.plot(x, y , color = 'blue' ,label='2016')



y = np.array(sales_2017)
plt.plot(x, y , color = 'black',label='2017')


y = np.array(sales_2018)
plt.plot(x, y , color = 'green' , label='2018')

plt.legend()
plt.show()

In [ ]:
# as data looks clean, export file to use for making vizualisation
df_tableau = df.copy()
# change '_' to ' ' for presentation reasons
df_tableau.columns = df_tableau.columns.str.replace('_', ' ')
# export file to use for making vizualisation in Tableau
df_tableau.to_csv('/content/drive/MyDrive/Colab Notebooks/superstore_sales/'
        'superstore_sales_tableau.csv', encoding='utf-8', index=False)