<a href="https://colab.research.google.com/github/MikolajKasprzyk/superstore_sales/blob/main/superstore_sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import chardet

# Read the file in binary mode
with open('/content/drive/MyDrive/Colab Notebooks/superstore_sales/superstore_sales.csv', 'rb') as f:
    # Detect the encoding of the file
    result = chardet.detect(f.read())

# Get the encoding from the detection result
encoding = result['encoding']

print(encoding)

Windows-1252

In [ ]:
# reading the data in a datafram
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/superstore_sales/'
                'superstore_sales.csv', encoding='Windows-1252')

In [ ]:
# see the data shape
df.shape

(9994, 21)

In [ ]:
# see first 5 rows
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [ ]:
# Check duplicates
df[df.duplicated()]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

In [ ]:
# show the sum of the null values in each column
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [ ]:
# get info about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [ ]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/superstore_sales/'
        'superstore_sales.csv', encoding='utf-8', index=False)

In [ ]:
# sort based on column
df.sort_values(by=['Order Date'],inplace=True)

**Let's show some visualization for the data **

In [ ]:
df['Ship Mode'].value_counts()

In [ ]:
df['Ship Mode'].value_counts().plot.pie()

In [ ]:
df['Segment'].value_counts()

In [ ]:
df['Segment'].value_counts().plot.pie()

In [ ]:
df['Country'].value_counts()   # all the sales comes from USA

In [ ]:
df['City'].value_counts()

In [ ]:
plt.figure(figsize=(15,10))
df['City'].value_counts().plot.pie()

In [ ]:
# Visualize category columns
plt.figure(figsize=(16,6))
sns.countplot('State' , data=df)
plt.xticks(rotation='vertical')

In [ ]:
# top 10 stats
top_stats = df.groupby(['State']).sum().sort_values('Sales', ascending=False).head(10)
top_stats = top_stats[['Sales']].round(2)
top_stats.reset_index(inplace=True)
top_stats

In [ ]:
# visualize top 10 stats
plt.figure(figsize=(16,6))
plt.bar(top_stats['State'],top_stats['Sales'] ,color="#99ff99" , edgecolor='green')
plt.xticks(rotation='vertical')
plt.title('States With High Revenu ',fontsize=15)
plt.xlabel('State',fontsize=15)
plt.ylabel('Revenu',fontsize=15)

for k , v in top_stats['Sales'].items():
    if v > 200000 :
        plt.text(k,v-100000,"$"+str(v),rotation=90,horizontalalignment='center')
    else:
        plt.text(k,v-50000,"$"+str(v),rotation=90,horizontalalignment='center')

In [ ]:
# draw top 10 cities
top_city = df.groupby(['City']).sum().sort_values('Sales', ascending=False).head(10)
top_city = top_city[['Sales']].round(2)
top_city.reset_index(inplace=True)
top_city

In [ ]:
# visualize top 10 cities
plt.figure(figsize=(16,6))
plt.bar(top_city['City'],top_city['Sales'] ,color="#95dee3" , edgecolor='blue')
plt.xticks(rotation='vertical')
plt.title('States With High Revenu ',fontsize=15)
plt.xlabel('State',fontsize=15)
plt.ylabel('Revenu',fontsize=15)

for k , v in top_city['Sales'].items():
    if v > 100000 :
        plt.text(k,v-100000,"$"+str(v),rotation=90,horizontalalignment='center')
    else:
        plt.text(k,v-10000,"$"+str(v),rotation=90,horizontalalignment='center')

In [ ]:
# top 10 customers
top_customers = df.groupby(['Customer Name']).sum().sort_values('Sales', ascending=False).head(10)
top_customers = top_customers[['Sales']].round(2)
top_customers.reset_index(inplace=True)
top_customers

In [ ]:
# visualize top 10 customers
plt.figure(figsize=(16,6))
plt.bar(top_customers['Customer Name'],top_customers['Sales'] ,color="#95dee3" , edgecolor='blue')
plt.xticks(rotation='vertical')
plt.title('States With High Revenu ',fontsize=15)
plt.xlabel('State',fontsize=15)
plt.ylabel('Revenu',fontsize=15)

for k , v in top_customers['Sales'].items():
    if v > 100000 :
        plt.text(k,v-100000,"$"+str(v),rotation=90,horizontalalignment='center')
    else:
        plt.text(k,v-10000,"$"+str(v),rotation=90,horizontalalignment='center')

In [ ]:
# show categories
df['Category'].value_counts()

In [ ]:
# how much sales in each category
category_sales = df.groupby(['Category']).sum().sort_values('Sales',ascending=False)
category_sales.reset_index(inplace=True)
category_sales

In [ ]:
# Visualize Sales in each category
plt.figure(figsize=(15,10))
def make_autopct(values):
    def my_autopct(pct):
        total = sum(values)
        val = int(round(pct*total/100.0))
        return '{p:.2f}%  (${v:d})'.format(p=pct,v=val)
    return my_autopct


plt.pie(category_sales['Sales'],labels=category_sales['Category'],autopct=make_autopct(category_sales['Sales']))

In [ ]:
# top products
top_products = df.groupby(['Product Name']).sum().sort_values('Sales',ascending=False).head(5)
top_products.reset_index(inplace=True)
top_products

In [ ]:
# sales in each product
plt.figure(figsize=(15,10))
plt.pie(top_products['Sales'],labels=top_products['Product Name'],autopct=make_autopct(top_products['Sales']))

In [ ]:
# create new columns from the order date , split the date into day , month ans year
df['day'] = df['Order Date'].dt.day
df['month'] = df['Order Date'].dt.month
df['year'] = df['Order Date'].dt.year

In [ ]:
# now we have the new 3 columns
df.sample(5)

In [ ]:
# show the orders over years
df['year'].value_counts().plot.pie()

In [ ]:
# show the sales in each year
year_sales = df.groupby(['year']).sum().sort_values('Sales',ascending=False)
year_sales.reset_index(inplace=True)
year_sales

In [ ]:
# visualize sales in each year
plt.bar(year_sales['year'],year_sales['Sales'] ,color="#95dee3" , edgecolor='blue')

In [ ]:
# sales 2016
x = df['year'] == 2015
df2 = df[x]
sales = df2.groupby(['month']).sum().sort_values(['Sales'], ascending=False)
sales.reset_index(inplace=True)
sales

In [ ]:
# show sales in each month year=2016
plt.bar(sales['month'] , sales['Sales'])

In [ ]:
# function to get sales for each month in the 4 years

all_sales = []

years = [2015,2016,2017,2018]
for year in years :
    x = df['year'] == year
    df2 = df[x]
    sales = df2.groupby(['month']).sum() #.sort_values(['Sales'], ascending=False)
    sales.reset_index(inplace=True)
    all_sales.append([year,sales['Sales']])

x = df['year'] == 2015
df2 = df[x]
sales = df2.groupby(['month']).sum().sort_values(['Sales'], ascending=False)
sales.reset_index(inplace=True)
all_sales

In [ ]:
# show sales in each year with months detail
my_sales = df.groupby([('year'),('month')]).sum()
my_sales.reset_index(inplace=True)
my_sales

In [ ]:
# draw the sales as scatter to get the highest sales in each year
plt.figure(figsize=(15,10))
plt.scatter(my_sales['year'],my_sales['Sales'])

In [ ]:
# another way to show it but the scatter is better
plt.bar(my_sales['year'],my_sales['Sales'])

now i will get the sales for each year alone , because i want to draw all the years in one detaild chart , i know i can do this in a simple way using functions , but i wanted to keep it very simple so that people understand it easily

In [ ]:
# get 2015 sales
x = df['year'] == 2015
df2 = df[x]
sales = df2.groupby(['month']).sum()
sales.reset_index(inplace=True)
sales_2015 = [round(x,2) for x in list(sales['Sales'])]
sales_2015

In [ ]:
# get 2016 sales
x = df['year'] == 2016
df2 = df[x]
sales = df2.groupby(['month']).sum()
sales.reset_index(inplace=True)
sales_2016 = [round(x,2) for x in list(sales['Sales'])]
sales_2016

In [ ]:
# get 2017 sales
x = df['year'] == 2017
df2 = df[x]
sales = df2.groupby(['month']).sum()
sales.reset_index(inplace=True)
sales_2017 = [round(x,2) for x in list(sales['Sales'])]
sales_2017

In [ ]:
# get 2018 sales
x = df['year'] == 2018
df2 = df[x]
sales = df2.groupby(['month']).sum()
sales.reset_index(inplace=True)
sales_2018 = [round(x,2) for x in list(sales['Sales'])]
sales_2018

In [ ]:
# draw all the months in all the years in a good way so that we can see the differences between them
import numpy as np


plt.figure(figsize=(15,8))

#day one, the age and speed of 13 cars:
x = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
y = np.array(sales_2015)
plt.scatter(x, y , color = 'red')

#day two, the age and speed of 15 cars:
y = np.array(sales_2016)
plt.scatter(x, y , color = 'blue')



y = np.array(sales_2017)
plt.scatter(x, y , color = 'black')


y = np.array(sales_2018)
plt.scatter(x, y , color = 'green')

plt.show()

In [ ]:
# the same chart but in another way
plt.figure(figsize=(15,8))

#day one, the age and speed of 13 cars:
x = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
y = np.array(sales_2015)
plt.plot(x, y , color = 'red' ,label='2015')


#day two, the age and speed of 15 cars:
y = np.array(sales_2016)
plt.plot(x, y , color = 'blue' ,label='2016')



y = np.array(sales_2017)
plt.plot(x, y , color = 'black',label='2017')


y = np.array(sales_2018)
plt.plot(x, y , color = 'green' , label='2018')

plt.legend()
plt.show()